@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --black: #0f0f0f;
  --dark-grey: #9b9996;
  --white: white;
  --black-2: rgba(39, 41, 43, .7);
  --black-3: #0c0c0c;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  background-color: var(--black);
  font-family: 'Plus Jakarta Sans', sans-serif;
}


/* TEXT STYLES */
.prim-text-gradient{
  background-image: radial-gradient(circle closest-corner at 50% 50%, var(--white), rgba(255, 255, 255, .5));
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.scnd-text-gradient{
  background-image: radial-gradient(circle, rgba(255, 255, 255, .9), rgba(255, 255, 255, .45));
  color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.text-dark-gray{
  color: var(--dark-grey);
}

.title{
  font-size: 2.7rem;
}

.subtitle{
  font-size: 1.3rem;
  color: var(--dark-grey);
}

.title-small{
  font-size: 1.8rem;
}

.subtitle-small{
  font-size: 1.1rem;
  color: var(--dark-grey);
}


/* LOADING STYLES */
.loading-screen{
  background-color: var(--black);
  transition: all 1s ease-in-out;
}

.loading-out{
  transform: translateY(-200%);
}

.loading-img{
  animation: fade .5s infinite;
}

@keyframes fade {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}


/* NAVBAR STYLES */
nav{
  justify-content: center;
  padding: 0;
}

.nav-logo{
  border: none;
  padding: 0;
}

.nav-links{
  display: none;
}


/* FOOTER AND FOOTERSTAR STYLES */
.stars-group{
  max-width: 630px;
  top: 129%;
  bottom: auto;
  left: 53%;
  right: auto;
  transform: translate(-50%, -100%);
}

.star-img{
  box-shadow: 0 0 94px 210px rgba(57, 57, 57, .1), 0 0 49px 2px rgba(0, 0, 0, .6), 0 0 74px 62px rgba(57, 57, 57, .25);
}

.footer-btn{
  background-image: linear-gradient(to right, #1e1d1d, #3d3d3b);
  padding: 1px;
  max-width: 240px;
  transition: opacity .2s ease;
}

.footer-btn:hover{
  opacity: .8;
}

.footer-btn a{
  color: #eeece7;
  background-image: linear-gradient(to right, #171717, #161616);
}

.footer-line{
  height: 1px;
  background-image: radial-gradient(circle closest-corner, #565a5e, rgba(39, 41, 43, .76));
}


/* 
MEDIA QUERIES
BREAKPOINT: 425px, 767px, 990px 
*/
@media only screen and (min-width: 425px){
  .star-img{
    width: 5rem;
  }
}

@media only screen and (min-width: 767px){
  nav{
    justify-content: flex-start;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .nav-logo{
    border-right: 1px solid rgba(84, 84, 84, .5);
    padding-right: 1.5rem;
  }

  .nav-links{
    display: block;
  }

  .star-img{
    width: 7rem;
  }
  
  .footer-title{
    font-size: 2.2rem;
  }
}

@media only screen and (min-width: 990px){
  .title{
    font-size: 4rem;
  }
  
  .subtitle{
    font-size: 1.5rem;
  }

  .title-small{
    font-size: 48px;
  }

  .subtitle-small{
    font-size: 20px;
  }

  .footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .footer-logo-wrapper{
    display: block;
  }

  .footer-links{
    flex-direction: row;
  }
}